@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Thin.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-UltraLight.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Light.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Medium.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-DemiBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Black.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Black.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Heavy.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Bold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Regular.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

.ze-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1440px) {
    .ze-container {
        max-width: 1330px;
    }
}


@layer components {
    .icon-shape {
        @apply flex items-center rounded-base bg-slate-100 pr-1.5 pl-[.4375rem] h-[2.125rem];
    }

    .icon-shape svg {
        flex-shrink: 0;
    }

    .btn {
        @apply inline-flex flex-row gap-2 justify-between items-center rounded-base bg-slate-100 pr-[.9166rem] pl-3 h-[2.125rem] text-btn-desktop text-slate-700;
    }

    .tile {
        @apply relative rounded-base flex flex-col justify-end h-[200px] pb-[23px] bg-no-repeat bg-cover bg-center overflow-hidden;
    }

    .tile::before {
        content: "";
        @apply absolute inset-0;
        background: linear-gradient(180deg, rgba(15, 23, 42, 0.00) 0%, rgba(15, 23, 42, 0.83) 76.96%, #0F172A 100%);
    }

    .tile .tile_content {
        @apply flex flex-col gap-4 text-right px-6 z-10;
    }

    .tile .tile_title {
        @apply text-tile-desktop text-white;
    }
    
    .chip {
        @apply text-xs font-medium text-white bg-primary-500 h-[22px] px-2.5 inline-flex items-center justify-center rounded-full self-start;
    }

    .card {
        @apply flex flex-col gap-2 basis-52 rounded-base h-56 bg-white shrink-0;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);

    }
    .card .card_thumbnail {
        height: 125px;
        width: auto;

    }
    .card .card_title {
        @apply text-card-desktop text-slate-700;
    }

    .card .card_date {
        @apply text-slate-400 font-medium text-xs;
    }

    .card .card_content {
        @apply flex flex-col gap-2 p-2;
    }

    .tab-item {
        @apply text-slate-500 bg-white text-sm font-bold inline-flex items-center justify-center h-[34px] px-4 rounded-full;
    }
}