@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Thin.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-UltraLight.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Light.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Medium.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-DemiBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Black.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Black.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Heavy.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Bold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Regular.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

.ze-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1728px) {
    .ze-container {
        max-width: 1330px;
    }
}


