@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Thin.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-UltraLight.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Light.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Medium.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-DemiBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Black.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Black.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Heavy.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Bold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Regular.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
}


:root {
    --sticky-header-height: 73px;
}

body {
    overflow-x: hidden;
}

.ze-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1440px) {
    .ze-container {
        max-width: 1330px;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@layer components {
    .icon-shape {
        @apply flex items-center rounded-base bg-slate-100 dark:bg-slate-600  pr-1.5 pl-[.4375rem] h-[2.125rem];
    }

    .icon-shape svg {
        flex-shrink: 0;
    }

    .icon-shape svg path {
        @apply fill-slate-500 dark:fill-slate-300;
    }

    .btn {
        @apply inline-flex flex-row gap-2 justify-between items-center rounded-base pr-[.9166rem] pl-3 h-[2.125rem] text-btn-desktop;
    }

    .btn-gray {
        @apply bg-slate-100 dark:bg-slate-600 text-slate-700 dark:text-slate-300;
    }

    .btn-gray svg path {
        @apply fill-slate-700 stroke-slate-700 dark:fill-slate-300 dark:stroke-slate-300;
    }

    .btn-green {
        @apply bg-green-600 text-white;
    }

    .btn-green svg path {
        @apply fill-white;
    }

    .btn-outline {
        @apply bg-white dark:bg-slate-800 border border-slate-400 dark:border-slate-200 text-slate-400 dark:text-slate-200;
    }

    .btn-outline svg path {
        @apply dark:fill-slate-200
    }

    .chip {
        @apply text-xs font-medium h-[22px] px-2.5 inline-flex items-center justify-center rounded-full self-start gap-[3px] bg-slate-100 text-slate-500;
    }

    .chip svg {
        width: 16px;
        height: 16px;
    }

    .chip-primary {
        @apply text-white bg-primary-500;
    }

    .chip-primary svg path {
        @apply fill-white;
    }

    .chip-green {
        @apply bg-green-100 text-green-600;
    }

    .chip-green svg path {
        @apply fill-green-600
    }

    .chip-yellow {
        @apply bg-amber-200 text-amber-700;
    }

    .chip-yellow svg path {
        @apply fill-amber-700
    }

     /* TODO: use tailwind class */
    /* active tab */
    .tabs-type-1 [aria-selected=true] {
        @apply bg-slate-700 dark:bg-slate-500 text-slate-50 dark:text-slate-50 dark:border-none;
    }

     /* TODO: use tailwind class */
    .tabs-type-2 [aria-selected=true] {
        @apply bg-primary-500 text-white dark:text-white;
    }

    .alert {
        @apply rounded-md py-1 pr-[9px] pl-4 bg-slate-50 text-gray-900 text-right inline-flex items-center gap-2.5 text-xxs font-semibold;
    }

    .alert svg path {
        @apply fill-gray-900
    }

    .alert-blue {
        @apply bg-blue-100 text-blue-700;
    }

    .alert-blue svg path {
        @apply fill-blue-700
    }

    .post-meta:not(:last-child) {
        margin-left: .5rem;
    }

    .post-meta:not(:last-child)::after {
        content: "|";
        padding-right: .5rem;
    }

     /* TODO: use tailwind class */
    .pagination> :not(:last-child) {
        @apply border-l border-gray-300 dark:border-gray-700;
    }
    
     /* TODO: use tailwind class */
    .pagination>li>a.active {
        @apply bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white cursor-default;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hide-overfolw-6 .card:nth-child(n+7) {
    display: none;
}

.post:last-child {
    border: none;
}

.header {
    width: 100%;
    position: relative;
    z-index: 100
}

.sticky {
    position: fixed;
    top: calc(var(--sticky-header-height) * -1);
    left: 0;
    height: var(--sticky-header-height);
    animation: goDown 0.5s ease-in-out forwards;

}

.sticky .hide-sticky {
    display: none;
}

@keyframes goDown {
    0% {
        top: calc(var(--sticky-header-height) * -1);
    }

    100% {
        transform: translateY(var(--sticky-header-height));
    }
}

@media only screen and (max-width: 768px) {
    .hide-for-mobile {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .hide-for-desktop {
        display: none;
    }
}

.header-mobile.open .hamburger-btn > span:first-child {
    transform: rotate(45deg);
}
.header-mobile.open .hamburger-btn > span:nth-child(2) {
    opacity: 0;
}
.header-mobile.open .hamburger-btn > span:last-child {
    transform: rotate(-45deg);
}

.drawer {
    transition: right 0.3s ease;

}
.header-mobile.open .drawer{
    right: 0;
}

/* @TODO: style mobile search box */
#search-box-2 {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#search-box-2 > div{
    width: 100%;
    /* height: 44px; */
}