@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Thin.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-UltraLight.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-UltraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Light.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Light.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Medium.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-DemiBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-DemiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Black.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Black.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-ExtraBlack.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-ExtraBlack.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Heavy.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Heavy.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Bold.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekanX;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/woff/IRANYekanX-Regular.woff') format('woff'),
        url('../assets/fonts/woff2/IRANYekanX-Regular.woff2') format('woff2');
}

.ze-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1440px) {
    .ze-container {
        max-width: 1330px;
    }
}


@layer components {
    .icon-shape {
        @apply flex items-center rounded-base bg-slate-100 pr-1.5 pl-[.4375rem] h-[2.125rem];
    }

    .icon-shape svg {
        flex-shrink: 0;
    }

    .btn {
        @apply inline-flex flex-row gap-2 justify-between items-center rounded-base pr-[.9166rem] pl-3 h-[2.125rem] text-btn-desktop;
    }

    .btn-gray {
        @apply bg-slate-100 text-slate-700;
    }

    .btn-gray svg path {
        @apply fill-slate-700;
    }

    .btn-green {
        @apply bg-green-600 text-white;
    }

    .btn-green svg path {
        @apply fill-white;
    }

    .btn-outline {
        @apply bg-white border border-slate-400 text-slate-400;
    }

    .tile {
        @apply relative rounded-base flex flex-col justify-end h-[200px] pb-[23px] bg-no-repeat bg-cover bg-center overflow-hidden;
    }

    .tile::before {
        content: "";
        @apply absolute inset-0;
        background: linear-gradient(180deg, rgba(15, 23, 42, 0.00) 0%, rgba(15, 23, 42, 0.83) 76.96%, #0F172A 100%);
    }

    .tile .tile_content {
        @apply flex flex-col gap-4 text-right px-6 z-10;
    }

    .tile .tile_title {
        @apply text-tile-desktop text-white;
    }

    .chip {
        @apply text-xs font-medium text-white bg-primary-500 h-[22px] px-2.5 inline-flex items-center justify-center rounded-full self-start gap-[3px];
    }

    .chip svg {
        width: 16px;
        height: 16px;
    }

    .chip-green {
        @apply bg-green-100 text-green-600;
    }

    .chip-green svg path {
        @apply fill-green-600
    }

    .chip-yellow {
        @apply bg-amber-200 text-amber-700;
    }

    .chip-yellow svg path {
        @apply fill-amber-700
    }

    .card {
        @apply flex flex-col gap-2 rounded-base h-56 bg-white;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);

    }

    .card .card_thumbnail {
        height: 125px;
        width: auto;

    }

    .card .card_title {
        @apply text-card-desktop text-slate-700;
    }

    .card .card_date {
        @apply text-slate-400 font-medium text-xs;
    }

    .card .card_content {
        @apply flex flex-col gap-2 p-2;
    }

    .tabs-type-1 .tab-item {
        @apply text-slate-500 bg-white text-sm font-bold inline-flex items-center justify-center h-[34px] px-4 rounded-full;
    }

    .tabs-type-1 [role=tablist] {
        @apply inline-flex gap-4
    }

    .tabs-type-1 [aria-selected=true] {
        @apply bg-slate-700 text-slate-50
    }

    .tabs-container [role=tablist] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tabs-type-2 [role=tablist] {
        @apply flex justify-around mx-auto bg-slate-100 rounded-full items-center;
    }

    .tabs-type-2 .tab-item-wrapper {
        @apply basis-1/2 block;
    }

    .tabs-type-2 .tab-item {
        @apply text-slate-700 text-sm font-black flex items-center justify-center h-10 w-full;
    }

    .tabs-type-2 .tab-item.left {
        @apply rounded-tl-full rounded-bl-full;

    }

    .tabs-type-2 .tab-item.right {
        @apply rounded-tr-full rounded-br-full;

    }

    .tabs-type-2 [aria-selected=true] {
        @apply bg-primary-500 text-white;
    }

    .visually-hidden {
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .side-widget {
        @apply bg-white rounded-base py-[23px] px-6 flex gap-2 flex-col;
    }

    .widget-header {
        @apply inline-flex justify-between items-center gap-2 self-start;
    }

    .widget-header-text {
        @apply text-base font-black text-slate-700;
    }

    .widget-header-text-sm {
        @apply text-xs;
    }

    .widget-content {
        @apply flex flex-col gap-8;
    }

    .widget-type1>a {
        @apply flex gap-2 items-center;
    }

    .widget-type1 img {
        height: 64px;
        width: 64px;
    }

    .widget-text-box {
        @apply flex flex-col items-start justify-center gap-1.5;
    }

    .widget-item-title {
        @apply text-slate-700 font-bold text-sm text-right;
    }

    .widget-item-meta {
        @apply text-slate-400 font-medium text-xs text-right;
    }

    .widget-type4>a {
        @apply flex flex-col gap-2 items-center;
    }

    .widget-type4 img {
        @apply w-full h-full
    }

    .widget-meta-box {
        display: flex;
        @apply gap-1.5 justify-start items-center;
    }

    .alert {
        @apply rounded-md py-1 pr-[9px] pl-4 bg-slate-50 text-gray-900 text-right inline-flex items-center gap-2.5 text-[10px] font-semibold;
    }

    .alert svg path {
        @apply fill-gray-900
    }

    .alert-blue {
        @apply bg-blue-100 text-blue-700;
    }

    .alert-blue svg path {
        @apply fill-blue-700
    }

    .post:last-child {
        @apply border-none
    }

    .post-meta-cell {
        @apply inline text-[10px] text-slate-500 text-right rounded-sm py-0.5 px-2 w-48;
        background: linear-gradient(270deg, #F0F4F8 0%, rgba(240, 244, 248, 0.51) 48.81%, rgba(240, 244, 248, 0.00) 100%);
    }

    .post {
        @apply flex flex-col gap-6 pb-6 border-b border-slate-200
    }

    .post-content-wrapper {
        @apply flex gap-6;
    }

    .post-content {
        @apply flex flex-col items-start gap-1.5;
    }

    .post-title {
        @apply text-post-desktop;
    }

    .post-text {
        @apply text-p-desktop py-2 text-slate-600;
    }

    .post-more-info {
        @apply pt-4;
    }

    .post-meta-cells {
        @apply flex gap-[5px] items-center flex-wrap;
    }

    .post-meta {
        @apply text-[10px] text-slate-400 font-bold;
    }

    .post-meta:not(:last-child) {
        margin-left: .5rem;
    }

    .post-meta:not(:last-child)::after {
        content: "|";
        padding-right: .5rem;
    }

    .post-footer {
        @apply flex items-center justify-between;
    }

    .post-footer-btns {
        @apply flex justify-end items-center gap-4;
    }

    .post-chips {
        @apply flex justify-center gap-2;
    }

    .post-type-1 .post-chips {
        padding-top: 4px
    }

    .post-type-2 .post-thumbnail {
        @apply rounded-base;
        background: linear-gradient(180deg, rgba(17, 25, 40, 0.00) 0%, #111928 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .post-type-2 .img-wrapper {
        position: relative;
    }

    .post-type-2 .post-chips {
        @apply absolute bottom-4 right-4;
    }

    .post-metas {
        @apply flex items-center justify-start
    }

    .widget-cat-item {
        @apply flex h-8 bg-slate-100 rounded-sm gap-2 justify-center items-center text-slate-700 text-[10px] font-bold;
    }

    .cat-item-count {
        @apply text-slate-500 bg-slate-200 pt-px px-0.5 rounded-full text-[8px] font-normal text-center;
    }

    .footer-widget-list {
        
    }

    .footer-widget-title {
        @apply pr-1.5 pb-1.5 font-black text-sm text-slate-700;
    }

    .footer-widget-list ul{
        @apply text-slate-500 font-bold text-sm list-disc list-inside;
    }
}